<div id="login-container">
    <app-icon-primary icon="warehouse"></app-icon-primary>
    <h1>RetailFlow</h1>
    <h2>Gérez vos stocks efficacement</h2>
    <form #loginForm (submit)="$event.preventDefault(); login(loginUsername.value, loginPassword.value)">
        <div class="form-input">
            <label for="loginUsername">Nom d'utilisateur</label>
            <input #loginUsername id="loginUsername" name="loginUsername" type="text" placeholder="Martin" />
        </div>

        <div class="form-input">
            <label for="loginPassword">Mot de passe</label>
            <input #loginPassword id="loginPassword" name="loginPassword" type="password" placeholder="••••••••"/>
        </div>

        <button type="submit">Se connecter</button>
    </form>
</div>