:host {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#login-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

#login-container h2 {
    font-size: 0.8333rem;
    font-weight: 400;
}

#login-container form {
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;

    width: 100%;
    font-size: 1rem;
}

.form-input label {
    margin-bottom: 5px;
}

.form-input input {
    padding: 3px 5px;
    margin-bottom: 15px;
    font-size: 0.8333rem;
    border: 1px solid var(--color-grey-discreet);
    border-radius: 5px;
}

.form-input input:focus,
.form-input input:focus-visible {
    outline: 1.5px solid var(--color-secondary);
    outline-offset: 1px;
}