<div id="login-container" class="default-container shadow-container">
    <app-icon-primary icon="warehouse"></app-icon-primary>
    <h1>RetailFlow</h1>
    <h2>Gérez vos stocks efficacement</h2>
    <form #loginForm (submit)="$event.preventDefault(); login(loginUsernameField.value, loginPasswordField.value)">
        <app-input-field
            #loginUsernameField="appInputField"
            label="Nom d'utilisateur"
            inputId="loginUsername"
            name="loginUsername"
            type="text"
            placeholder="Martin"
        ></app-input-field>

        <app-input-field
            #loginPasswordField="appInputField"
            label="Mot de passe"
            inputId="loginPassword"
            name="loginPassword"
            type="password"
            placeholder="••••••••"
        ></app-input-field>

        <button class="button-primary" type="submit">Se connecter</button>
    </form>
</div>