.default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
    font-size: 0;
}

.secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: var(--color-secondary-light);
    color: var(--color-secondary);
    font-size: 0;
}

.teriary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: transparent;
    color: var(--color-primary);
    font-size: 0;
}

.nav-material-icon {
    font-size: var(--icon-primary-size, 24px);
    width: var(--icon-primary-size, 24px);
    height:var(--icon-primary-size, 24px);
}