:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-top: 30px;
    padding: 15px;
}

.table-tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-confirmer-tout {
  background-color: #FC9100;
  color: #FFFFFF;
  border: none;
  padding: 14px 28px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btn-confirmer-tout:hover {
  background-color: #e07f00;
}

.margin.positive {
    font-size: 1rem;
    color: green;
}

.margin.negative {
    font-size: 1rem;
    color: red;
}

.operations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.row-out-of-stock td {
    background-color: #ff190088;
}

.row-low-stock td {
    background-color: #ff9d0088;
}

.operations .quantity {
    white-space: nowrap;
}

.operation-field {
    width: 100px;
    background-color: #fff;
    border-radius: 5px;
}

.operation-field ::ng-deep .mat-mdc-text-field-wrapper {
    height: 35px;
    padding: 0 8px;
}

.operation-field ::ng-deep .mat-mdc-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
    min-height: unset;
    display: flex;
    align-items: center;
    height: 35px;
}

.operation-field ::ng-deep .mat-mdc-select-trigger {
    height: 100%;
    display: flex;
    align-items: center;
}

.operation-field ::ng-deep .mat-mdc-select-value {
    color: var(--color-text-darkblue);
}

.operations-btns {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.btn-quantity {
  background-color: #FFFFFF;
  border: 1px solid #003051;
  color: #003051;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  font-size: 1.3333rem;
  cursor: pointer;
}

.btn-quantity:hover {
  background-color: #f0f5fa;
}

.btn-confirmer {
  background-color: #FC9100;
  color: #FFFFFF;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.btn-delete {
  background-color: #f00;
  color: #FFFFFF;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.btn-delete:disabled {
  background-color: #ff000033;
  cursor: not-allowed;
}