/* You can add global styles to this file, and also import other style files */
:root {
    --sidebar-width: 180px;
    --color-text-white: #f9f9f9;
    --color-text-darkblue: #003051;
    --color-primary: #003051;
    --color-primary-light: #3F7CAF;
    --color-secondary: #FC9100;
    --color-secondary-light: #FC91001F;
    --color-grey-discreet: #afafaf;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: var(--color-text-darkblue);
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.mat-icon {
    width: 100%;
    height: 100%;
}


.button-primary {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.default-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
    max-width: 360px;
}

.shadow-container {
    padding: 15px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tables styles */
.default-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.default-table-head {
  text-align: left;
  padding: 12px 16px;
  color: #3F7CAF;
  font-weight: 600;
  border-bottom: 2px solid #003051;
}

.default-table-cell {
    padding: 6px 8px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    color: #003051;
}
/**** End of table styles ****/

/* Common styles */
.number-of-x {
  color: #3F7CAF;
  margin-bottom: 20px;
}

.empty {
  text-align: center;
  color: #9e9e9e;
  margin-top: 40px;
}

.snackbar-error .mdc-snackbar__surface {
  background-color: #d32f2f !important;
}

.snackbar-error .mdc-snackbar__label {
  color: #ffffff !important;
}

.badge-fournisseur {
  border: 1px solid #3F7CAF;
  color: #3F7CAF;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 1rem;
}